@import "vars";
@import "./sections/header";
@import "./sections/sidenav";
@import "./sections/showcase";
@import "./sections/about";
@import "./sections/projects";
@import "./sections/contact";
@import "./sections/footer";

.btn {
    cursor: pointer;
    color: v(background);
    width: 192px;
    height: 56px;
    line-height: 54px;
    display: block;
    position: relative;
    font-weight: bold;
    overflow: hidden;
    text-transform: uppercase;
    
    span {
        color: v(color);
        position: absolute;
        font-size: 35px;
        left: -192px;
        transition: all 0.5s;
        z-index: 1;
    }
    
    &::after {
        content: attr(data-text);
        position: relative;
        width: 100%;
        height: 100%;
        display: block;
        overflow: hidden;
        padding-left: 30px;
        padding-right: 30px;
        background-color: v(color);
        transition: all 0.4s;
        z-index: 2;
    }

    &:hover {
        span {
            left: 3px;
        }

        &::after {
            width: 0;
            padding: 0;
            color: v(color);
        }
    }
}

.section-title {
    font-size: 11rem;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-text-stroke: 1px v(color);
    color: transparent;
    overflow: hidden;
    white-space: nowrap;
}


.mode-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 55px;
    height: 55px;
    background-color: v(color);
    border-radius: 50%;
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease-in-out;
    user-select: none;

    &:hover {
        transform: scale(0.9);
    }
    
    img {
        width: 25px;
        height: 25px;
    }
}

